.banner {
  width: auto;
  height: 223px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;


  img {
    width: 100%;
    height: 100%;
    border-radius: 25px;
    object-fit: cover;
    filter: brightness(70%);
  }

  figcaption {
    position: absolute;
    padding: 20px;
    font-size: 48px;
    font-weight: 500;
    color: $color-4;
  }
}
